/* control+k+c */
/* shift+ alt + a */

/* el styles es mas importante q la clase */
 /* la clase es mas importante q el tipo */
 /* hay jerarquias en CSS */

/*selector por id*/
/* es ID es el de mayor precedencia */




:root {
    /*defino la variable*/
    --rojo: #9f3647;
    --texto-blanco: #ffffff;
    --fondo-negro: #000000;
}

/* selector universal */
*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

.texto-blanco {
    color: var(--texto-blanco);
}

.main-flex {
   
    background-image:linear-gradient(
        to right top,
        rgba(22, 22, 21, 0.5),
        rgba(91, 91, 96, 0.5)
    ), url(../img/banner-bg.jpg);
    height: 90vh; /*  vh altura relatva */
    width: 100vw;/* vw ancho relativo */
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_titulo {
    padding-top: 20vh;
    padding-bottom: 5vh;
    font-size: 3em; /*em uidad de medida relativa del tamaño del contenido,ej 3*el taañp del texto del que lo contiene*/
}
.main_subtitulo{
    margin-bottom: 5vh;
}

.main_btn_registrarse{
    text-decoration: none;
    padding: 15px; /* espacio desde el borde hacia dentro */ 
    background-color: var(--rojo);
    color: var(--texto-blanco);
    border-radius: 5px; 
    width: 20vw;
} 

.header {
  background-color: var(--rojo);
  padding-top: 1vh;
  padding-left: 3vw;
  height: 9vh;
  min-height: 50px;
/* AGREGO FLEXBOX*/
  display: flex;
  justify-content: center; /*LO CENTRA RESPECTO AL EJE X MAIN AXIS*/
  align-items: center; /*LO CENTRA RESPECTO AL EJE Y CROSS AXIS*/
}


.header_logo {
  height: 5vh;
  /*display: inline-block;*/
  width: 20vW;
}

.header_logo_link {
  color: var(--texto-blanco);
  text-decoration: none;
}

.header_menu {
  height: 10vh;
  /*display: inline-block;*/
  width: 80vw;
  /*padding-top: 2vh;*/
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding-right: 5vw;
}

.header_menu a {
  padding-left: 1vw;
  padding-right: 1vh;
  text-decoration: none;
  color: var(--texto-blanco);
}

/*abajo puse numeral porq es ID*/
#header_menu_login {
  padding: 1vh;
  background-color: black;
  border-radius: 5px;
  font-size: 1rem;
}

/*Formulario de busqueda*/
/*Otra forma de centrar MARGIN O AUTO*/
.busqueda {
  text-align: center;
  height: 50vh;
  background-color: var(--fondo-negro);
  color: var(--texto-blanco);
  padding-top: 10vh;
  font-size: 1.5 rem;
  display: flex;
  flex-direction: column;
}

/*formas de separar con padding el input del h2
.busqueda form {
  padding-top: 5vh,
  }
  #busqueda_form {
padding-top: 5vh;
  }

  form {
    padding-top: 5vh;
  }
*/
/*SELECTORES AVANZADOS*/
/* 1 - HIJOS DIRECTOS: > */
/* 2 - HERMANO ADYACENTE: +  */
/* 3 - DESCENDIENTE */

.busqueda > h2 + form {
  padding-top: 6VH;
}

/* UNA FORMA DE SEPARAR EL INPUT
 .busqueda form input {
  PADDING: 1VH;
}*/

.input_search{
  padding: 1vh 3vh;
  border: none;
  border-radius: 25px;
  width: 50vw;
  text-transform: capitalize; /*PARA HACER MAYUSCULA LA PRIMER LETRA*/
}

.btn_busqueda {
  padding: 1,5vh 3vh;
  border-radius: 25px;
  border: 2px solid var(--texto-blanco);
  background-color: var(--rojo);
  color: var(--texto-blanco);
  font-weight: bold;
  font-size: 1rem;
}

.btn_busqueda:hover {
  font-size: 1.1rem;
}

hr {
  margin: 0 auto;
  margin-top: 20vh;
  width: 75vw;
  border: 0.5px solid var(--rojo) ;
}

.elemento_fijo {
  position: fixed; /*para q quede fijo*/
  bottom: 3vh;
  right: 3vw;
  color: #ffffff;
}

.flex-conteiner {
  height: 20vh;
  background-color: aqua;
  display: flex;
  flex-direction: row; /*row-reverse|column|column-reverse|*/
  justify-content: space-between; /*sobre el eje main axis*/
  /*flex-wrap: wrap;  PARA Q LOS ELEMENTOS SE ACOMODEN ABAJO*/
}
.flex-conteiner div {
  width: 35vw;
}
/* MEDIA QUERY PARA IMPRESION*/
@media print {
  /* TODO LO QUE PONGA ACA SE EJECUTA CUANDO VOY A IMPRIMIR*/
  :root {
    --rojo: #35e428;
  }
  .main-flex {
display: none;
  }
}
/*.burguer {
  display: none;
}*/

/* MEDIA QUERY*/
/* PARA MODIFICAR ENTRE TAMAÑOS DE PANTALLA*/
/*
1- @media screen and (min-width:800px) and (max-width:900px){}
o
2- @media (max-width:900) and (min-width:800px)
*/
@media screen and (min-width:800px){
  :root {
    --rojo: #ed6d6d;
   }
   .header_menu {
    display: none;
   }
   /*.burguer {
    display: flex;
   }*/
   .header {
    justify-content: flex-start;
   }
}

@media screen and (min-width:900px) and (max-width:1200px){
  :root {
    --rojo: #86eaf5;
   }
  }